QWidget {
    /*background-color: #D5D0E8;*/
    /*font-family: "Inter";*/
    /*color: #7E74B5;*/
}
QPlainTextEdit {
    background-color: #282828;
    color: #e7e7e7;
    font-family: "Courier New";
    /*font-weight: bold;*/
}
QListWidget {
    /*color: #524273;*/
    /*font-family: "Bebas Neue Pro";*/
    /*font-style: italic;*/
    /*font-size: 16px;*/
}
QPushButton {
    /*background-color: #524273;*/
    /*color: #D5D0E8;*/
}