QWidget {
    /*background-color: #D5D0E8;*/
    /*font-family: "Inter";*/
    /*color: #7E74B5;*/
}
QPlainTextEdit {
    background-color: #282828;
    color: #e7e7e7;
    font-family: "Courier New";
    font-size: 13px;
    /*font-weight: bold;*/
}
QListWidget {
    min-height: 336px;
    max-height: 336px;
    /*color: #524273;*/
    font-family: "Courier New";
    font-weight: bold;
    font-size: 16px;
}
QPushButton {
    /*min-height: 30px;*/
    /*background-color: #524273;*/
    /*color: #D5D0E8;*/
}